
@{
    ViewBag.Title = "Post’s Requests";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<br />
<div class="row">
    <div class="card text-center offset-3 col-6">
        <div class="card-header">
            <div class="font-weight-bolder">Agency</div>
        </div>
        <div class="card-body">
            <img src="~/Assets/Images/Everest.jpg" class="card-img-top" alt="Trip Image">
            <h5 class="card-title mt-2">Trip Title</h5>
            <p class="card-text">
                Trip Date: @DateTime.Now
                <br />
                Destination: Somewhere
            </p>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
                With supporting text below as a natural lead-in to additional content.
                With supporting text below as a natural lead-in to additional content.
                With supporting text below as a natural lead-in to additional content.
                With supporting text below as a natural lead-in to additional content.
                With supporting text below as a natural lead-in to additional content.
                With supporting text below as a natural lead-in to additional content.
            </p>
            <a href="#" class="btn btn-primary mr-2">Accept</a>
            <a href="#" class="btn btn-danger ml-2">Decline</a>
        </div>
        <div class="card-footer text-muted font-weight-bolder">@DateTime.Now</div>
    </div>
</div>
<br />