
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link rel="stylesheet" href="~/Assets/Admin/Users.css" />
<div class="row">
    <div class="panel col-12 py-3">
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-1">Photo</th>
                        <th class="col-2">Username</th>
                        <th class="col-3">Name</th>
                        <th class="col-2">Email</th>
                        <th class="col-2">Phone</th>
                        <th class="col-1">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="user_icon rounded-circle">
                                <img class="rounded-circle" src="~/Assets/Images/ProfilePicture.jpg" alt="">
                            </div>
                        </td>
                        <td>mohamed88@travel.com</td>
                        <td>Mohamed Ahmed</td>
                        <td>mohamed77@gmail.com</td>
                        <td>(200) 100-7762-472</td>
                        <td>Admin</td>
                        <td>
                            <ul class="action-list">
                                <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="user_icon rounded-circle">
                                <img class="rounded-circle" src="~/Assets/Images/ProfilePicture.jpg" alt="">
                            </div>
                        </td>
                        <td>mohamed88@travel.com</td>
                        <td>Mohamed Ahmed</td>
                        <td>mohamed77@gmail.com</td>
                        <td>(200) 100-7762-472</td>
                        <td>Admin</td>
                        <td>
                            <ul class="action-list">
                                <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="user_icon rounded-circle">
                                <img class="rounded-circle" src="~/Assets/Images/ProfilePicture.jpg" alt="">
                            </div>
                        </td>
                        <td>mohamed88@travel.com</td>
                        <td>Mohamed Ahmed</td>
                        <td>mohamed77@gmail.com</td>
                        <td>(200) 100-7762-472</td>
                        <td>Admin</td>
                        <td>
                            <ul class="action-list">
                                <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="user_icon rounded-circle">
                                <img class="rounded-circle" src="~/Assets/Images/ProfilePicture.jpg" alt="">
                            </div>
                        </td>
                        <td>mohamed88@travel.com</td>
                        <td>Mohamed Ahmed</td>
                        <td>mohamed77@gmail.com</td>
                        <td>(200) 100-7762-472</td>
                        <td>Admin</td>
                        <td>
                            <ul class="action-list">
                                <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="user_icon rounded-circle">
                                <img class="rounded-circle" src="~/Assets/Images/ProfilePicture.jpg" alt="">
                            </div>
                        </td>
                        <td>mohamed88@travel.com</td>
                        <td>Mohamed Ahmed</td>
                        <td>mohamed77@gmail.com</td>
                        <td>(200) 100-7762-472</td>
                        <td>Admin</td>
                        <td>
                            <ul class="action-list">
                                <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="user_icon rounded-circle">
                                <img class="rounded-circle" src="~/Assets/Images/ProfilePicture.jpg" alt="">
                            </div>
                        </td>
                        <td>mohamed88@travel.com</td>
                        <td>Mohamed Ahmed</td>
                        <td>mohamed77@gmail.com</td>
                        <td>(200) 100-7762-472</td>
                        <td>Admin</td>
                        <td>
                            <ul class="action-list">
                                <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="user_icon rounded-circle">
                                <img class="rounded-circle" src="~/Assets/Images/ProfilePicture.jpg" alt="">
                            </div>
                        </td>
                        <td>mohamed88@travel.com</td>
                        <td>Mohamed Ahmed</td>
                        <td>mohamed77@gmail.com</td>
                        <td>(200) 100-7762-472</td>
                        <td>Admin</td>
                        <td>
                            <ul class="action-list">
                                <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>